/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color:rgb(188, 170, 170);
    color: #fff;
    padding: 10px;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    display: flexbox;
    background-color: rgb(188, 170, 170);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0055a5;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.main-banner {
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-bottom: 50px;
    

    
}

.main-banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
    display: block;
}

.main-banner a {
    background-color: #3100a5;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}


footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 15px;
}

.top-header-text{

    display: grid;
    
}
.top-header-text-h1{
   align-self: center;
   text-align: center;
   
}

.welsque-services-pic{
    width: 100%;
}

.welsque-logo-pic{
    width: 100%;
}

.welsque-logo-pic2{
    width: 100%;
    
}

.discover-our-services-grid{
    display: grid;
    grid-template-columns: 1fr;
}